<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{../css/Style_Inicio.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/estilos_Template.css}">
    <link rel="stylesheet" th:href="@{/css/style_nabvar.css}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
	          <div th:insert="~{usuario/Template_Admin.html :: header}"></div>

 <div class="container_busqueda">
  <form action="#" method="get" class="search-bar">
    <input type="text" placeholder="Búsqueda" name="q" oninput="filtrarCursos(this.value)">
  </form>
</div>

<h1 class="titulo-destacado">Mis Cursos</h1>
<div class="tarjeta-container">
  <div th:each="curso : ${Cursos_ALL}" class="tarjeta">
    <a th:href="@{/usuario/Reproductor(id=${curso.id})}">
      <div class="imagen-container">
        <img th:src="${curso.Anuncio}" alt="Imagen del curso">
        <div class="reproduccion-icono">
          <i class="fa fa-play"></i>
        </div>
      </div>
      <h3 th:text="${curso.Titulo_G}"></h3>
      <div class="valoracion">
        <div class="valoracion">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
      </div>
      <p th:text="${curso.Vizualizacion_G}"></p>
      <p>Clases: 788</p>
      <p>Tiempo: 82hrs</p>
    </a>
  </div>
  <p id="mensaje-no-resultado" style="display: none; color: white;">No se encontraron resultados.</p>
</div>

<script>
  const tarjetas = document.querySelectorAll(".tarjeta");
  const mensajeNoResultado = document.getElementById("mensaje-no-resultado");

  function filtrarCursos(busqueda) {
    const expresion = new RegExp(busqueda, "i");
    let seEncontroResultado = false;

    tarjetas.forEach(function (tarjeta) {
      const titulo = tarjeta.querySelector("h3");
      if (expresion.test(titulo.textContent)) {
        tarjeta.style.display = "block";
        seEncontroResultado = true;
      } else {
        tarjeta.style.display = "none";
      }
    });

    if (seEncontroResultado) {
      mensajeNoResultado.style.display = "none";
    } else {
      mensajeNoResultado.style.display = "block";
    }

    if (busqueda === "") {
      tarjetas.forEach(function (tarjeta) {
        tarjeta.style.display = "block";
      });
      mensajeNoResultado.style.display = "none";
    }
  }
</script>



	<h1 class="titulo-destacado">Cursos Recomedados	</h1>
  <br>
 <div class="curso-semana-tarjeta" th:each="contenido: ${cursosRecomendados}">
  <div class="curso-semana-imagen">
    <img th:src="${contenido.Anuncio}" alt="Imagen curso">
  </div>
  <div class="curso-semana-informacion">
    <h3 th:text="${contenido.Titulo_G}"></h3>
    <p th:text="${contenido.Descripcion}"></p>
    
    <div class="valoracion">
      <!-- Código para mostrar las estrellas de valoración -->
      <div class="valoracion">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <a href="enlace-curso" class="btn">Ver Ahora</a>
    </div>
    <p>Duración: 83 horas</p>
  </div>
  <br class="clear">
</div>

  
	
   <h1 id="categoria" class="titulo-destacado">Categorias</h1>
	
    <table id="table">
        
        <tr>
            <td colspan="4">
            </td>
        </tr>
        <tr>
            <td>
                <div class="div1">
                    <img src="../img/Matematica.png" style="width: 50%;" />
                    <p>Matematicas</p>
                    <button class="btn btn1">Ver +</button>
                    <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../img/ciencias.png" style="width: 50%;" />
                <p>Ciencias Naturales</p>
                <button class="btn btn2">Ver +</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../img/programacion.png" style="width: 50%;" />
                <p>Programación</p>
                <button class="btn btn3">Ver +</button>
                <br /><br />
                </div>
            </td>
            <td>
                <div class="div1">
                <img src="../img/Tecnico.png" style="width: 50%;" />
                <p>Cursos Tecnicos</p>
                <button class="btn btn4">Ver +</button>
                <br /><br />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
    </table>
   <script th:src="@{../js/jquery.min.js}"></script>
    <script th:src="@{../js/main.js}"></script>
    
    
    
<script>
window.addEventListener('mouseover', initLandbot, { once: true });
window.addEventListener('touchstart', initLandbot, { once: true });
var myLandbot;
function initLandbot() {
  if (!myLandbot) {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.addEventListener('load', function() {
      myLandbot = new Landbot.Livechat({
        configUrl: 'https://storage.googleapis.com/landbot.online/v3/H-1629620-0YZX3NECMWADBGH9/index.json',
        callbacks: {
          onSubmit: function(res) {
            // Aquí puedes acceder a los datos enviados por el usuario
            var nombre = res.data.formData['@name'];
            var correo = res.data.formData['@email'];
            var problema = res.data.formData['@varproblema'];

            // Muestra los datos en la consola para verificar si se llenan correctamente
            console.log('Nombre:', nombre);
            console.log('Correo:', correo);
            console.log('Problema:', problema);

            // Realiza una solicitud para guardar los datos en tu base de datos
            // ...

            // Muestra una confirmación en la página para indicar que los datos se han llenado correctamente
            document.getElementById('confirmacion').innerHTML = 'Los datos se han llenado correctamente.';
          }
        }
      });
    });
    s.src = 'https://cdn.landbot.io/landbot-3/landbot-3.0.0.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  }
}
</script>

<div id="confirmacion"></div>




</body>
          <div th:insert="~{usuario/Template_Admin.html :: footer}"></div>

     
</html>