 

  <!-- Navigation -->
  




  <!-- vamos a crear un div header -->
  <div th:fragment="header">
   <header>
		 <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
		    <div class="container">
		    	<a class="navbar-brand" href="index.html"><div class="box">
                <figure>
                    <a href="#">
						<div class="logo"><img th:src="@{../img/LEARNREDWhite.webp}"></div>
                       
                    </a>
                </figure>
            </div></a>
		    	
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="fa fa-bars"></span> Menu
		      </button>
		      <div class="collapse navbar-collapse" id="ftco-nav">
		        <ul class="navbar-nav ml-auto mr-md-3">
		        	<li class="nav-item">
						  <a href="#" class="nav-link"><i class="fas fa-home"></i> Home</a>
						</li>
						<li class="nav-item">
						  <a href="#categoria" class="nav-link"><i class="fas fa-folder-open"></i> Categorias</a>
						</li>
						<li class="nav-item">
						  <a href="#" class="nav-link"><i class="fas fa-star"></i> Favoritos</a>
						</li>
						<li class="nav-item">
						  <a href="#" class="nav-link"><i class="fas fa-list"></i> Mi Lista</a>
						</li>

							         <li class="nav-item">
					  <a href="#" class="nav-link"><i class="fas fa-bell"></i> Notificaciones</a>
					</li>

		         <li class="dropdown nav-item d-md-flex align-items-center">
	  <a href="#" class="dropdown-toggle nav-link d-flex align-items-center justify-content-center icon-cart p-0" id="dropdown04" data-toggle="dropdown" aria-expanded="false">
	    <i class="fa fa-user"></i>
	    <b class="caret"></b>
	  </a>
	  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
	    <a href="#" class="dropdown-item">Lista de Deseos</a>
	       <div class="dropdown-divider"></div>
	    <a href="#" class="dropdown-item">Perfil</a>
	    <div class="dropdown-divider"></div>
	    <a th:href="@{/creador}" class="dropdown-item">Modo Creador</a>
	 <div class="dropdown-divider"></div>
	    <a href="#" class="dropdown-item">Cerrar Sesion</a>
 
	    
	 
	  </div>
	</li>

		        </ul>
		      </div>
		    </div>
		  </nav>
		 
	 </header>
  </div>
  

     

      
    <!-- Footer -->
    <div th:fragment="footer">
		<!--::::Pie de Pagina::::::-->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img th:src="@{../img/LEARNRED.webp}" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Terminos y Condiciones</p>
                <p>Contactanos</p>
               <p>Privacidad</p>

            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>SV</b> - Todos los Derechos Reservados.</small>
        </div>
    </footer>
	</div>
    

  