<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
<link rel="stylesheet" href="ruta/al/archivo/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>	


    <link rel="stylesheet" th:href="@{../css/style_cursos.css}">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
   <div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </span>
                
              <div th:each="usuario: ${usuario}">
                <span th:text="${usuario.Nombre} + ${usuario.Apellido}" class="title"></span>
            </div>  
            </a>
        </li>

        <li>
            <a th:href="@{/creador/dash}">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li>
            <a >
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Alumnos</span>
            </a>
        </li>

        <li>
            <a th:href="@{/creador}">
                <span class="icon">
                    <ion-icon name="school-outline"></ion-icon>
                </span>
                <span class="title">Cursos</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                </span>
                <span class="title">Grupo de Estudio</span>
            </a>
        </li>

 <li>
    <a th:href="@{/creador/ListaMotenizacion}">
        <span class="icon">
            <ion-icon name="cash-outline"></ion-icon>
        </span>
        <span class="title">Monetización</span>
    </a>
</li>


        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Configuración</span>
            </a>
        </li>
    </ul>
</div>
        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

               

                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>

   

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>INSERCION DE ARCHIVOS Y VIDEOS AL CURSO</h2>
                    </div>
                    
                   
                    
                  
<div class="formulario">
    <form id="miFormulario" th:action="@{/creador/crearContenido}" enctype="multipart/form-data" method="post">
      <div id="seccionesContainer">
        <!-- Aquí se agregarán dinámicamente las secciones -->
      </div>
<input type="text" name="curso_id" th:value="${idCurso}" style="display: none;">

      <button class="agregarMiniSeccion"  type="submit">Guardar</button>
    </form>
  </div> 
 <br><br>
  <h2>Insertar Imagen al Curso</h2> <br><br>
<form id="formulario-imagen" th:action="@{/creador/guardarImgCurso}" method="POST" enctype="multipart/form-data">
	<div class="form">
    <input type="text" name="curso_id" th:value="${idCurso}" style="display: none;"><br>
    <input type="file" name="Anuncio" accept="image/*">
<br><br><br>
    <button class="agregarMiniSeccion" type="submit" id="guardar-imagen">Guardar imagen del curso</button></div>
</form>
 <br><br>

       <option th:each="categoria:${categoria}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>

                    <div class="cardHeader">
                        <h2>LISTA DE SECCIONES</h2>
                         	
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Nombre Seccion</td>
                    
                                <td>EDITAR</td>
                                 <td>ELIMINAR</td>
                            </tr>
                        </thead>

                        <tbody>

						   <tr th:each="seccion : ${SeccionesList}">
						    <td th:text="${seccion.Nombre_Secc}"></td>
						    <td><span class="status inProgress">Editar</span></td>
						    <td><span class="status return">Eliminar</span></td>
						</tr>

 
                        </tbody>	
                    </table>
                </div>
               

                <!-- ================= New Customers ================ -->

            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script th:src="@{../js/main_c.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      var seccionCount = 0; // Contador de secciones

      // Función para agregar una nueva sección
      function agregarSeccion() {
        seccionCount++;
        var nuevaSeccion = '<div class="seccion" id="seccion-' + seccionCount + '">' +
                              '<h2>Sección ' + seccionCount + '</h2>' +
                              '<input type="text" name="Nombre_Secc" placeholder="Nombre de la sección">' +
                              '<div class="minisecciones" id="minisecciones-' + seccionCount + '"></div>' +
                              '<button class="agregarMiniSeccion" type="button" data-seccion="' + seccionCount + '">Agregar Minisección</button>' +
                            '</div>';
        $('#seccionesContainer').append(nuevaSeccion);
      }

      // Función para agregar una nueva minisección dentro de una sección
      function agregarMiniSeccion(seccion) {
        var miniseccionCount = $('#minisecciones-' + seccion + ' .miniseccion').length + 1;

        var nuevaMiniSeccion = '<div class="miniseccion">' +
                                  '<h3>Elemento ' + miniseccionCount + '</h3>' +
                                  '<div class="input-group">' +
                                    '<input type="text" name="titulo-' + seccion + '-' + miniseccionCount + '" placeholder="Título">' +
                                    '<label for="video-' + seccion + '-' + miniseccionCount + '">Video:</label>' +
                                    '<input type="file" name="video-' + seccion + '-' + miniseccionCount + '" id="video-' + seccion + '-' + miniseccionCount + '" accept="video/*">' +
                                    '<label for="archivo-' + seccion + '-' + miniseccionCount + '">Archivo:</label>' +
                                    '<input type="file" name="archivo-' + seccion + '-' + miniseccionCount + '" id="archivo-' + seccion + '-' + miniseccionCount + '" accept=".pdf, .rar">' +
                                  '</div>' +
                                '</div>';
        $('#minisecciones-' + seccion).append(nuevaMiniSeccion);
      }

      // Agregar una sección al cargar la página
      agregarSeccion();

      // Agregar una nueva sección al hacer clic en el botón "Agregar Sección"
      $('.agregarSeccion').click(function() {
        agregarSeccion();
      });

      // Agregar una nueva minisección al hacer clic en el botón "Agregar Minisección"
      $(document).on('click', '.agregarMiniSeccion', function() {
        var seccion = $(this).data('seccion');
        agregarMiniSeccion(seccion);
      });
    });
  </script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>