<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" th:href="@{../css/style_cursos.css}">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
  <div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </span>
                
              <div th:each="usuario: ${usuario}">
                <span th:text="${usuario.Nombre} + ${usuario.Apellido}" class="title"></span>
            </div>  
            </a>
        </li>

        <li>
            <a th:href="@{/creador/dash}">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li>
            <a >
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Alumnos</span>
            </a>
        </li>

        <li>
            <a th:href="@{/creador}">
                <span class="icon">
                    <ion-icon name="school-outline"></ion-icon>
                </span>
                <span class="title">Cursos</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                </span>
                <span class="title">Grupo de Estudio</span>
            </a>
        </li>

 <li>
    <a href="#">
        <span class="icon">
            <ion-icon name="cash-outline"></ion-icon>
        </span>
        <span class="title">Monetización</span>
    </a>
</li>


        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Configuración</span>
            </a>
        </li>
    </ul>
</div>


        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                 </div>
            </div>

   

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Cursos Monetizados</h2>
                        
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Titulo</td>
                                 <td>Vistas Totales</td>
                               
                                <td>Ver Estadisticas</td>
                            </tr>
                        </thead>

							<tbody>
    <!-- Verificar si la lista de cursos no está vacía antes de iterar sobre ella -->
    <th:block th:if="${not #lists.isEmpty(cursos)}">
        <tr th:each="curso: ${cursos}">
            <td th:text="${curso.Titulo_G}"></td>
            <td th:text="${curso.Vizualizacion_G}"></td>
            <td ><a  th:href="@{/creador/monetizacion(id=${curso.id})}"><button type="button" value="" class="status inProgress">[-   Ir a Estadisticas   -]	</button></a></td>
 
        </tr>
    </th:block>
    <!-- Mostrar un mensaje alternativo cuando no hay cursos disponibles -->
    <th:block th:unless="${not #lists.isEmpty(cursos)}">
        <tr>
            <td colspan="4">No hay cursos disponibles en este momento.</td>
        </tr>
    </th:block>
</tbody>

                    </table>
                </div>

                <!-- ================= New Customers ================ -->

            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script th:src="@{../js/main_c.js}"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>